--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2+cpu
sentence-transformers==3.4.1
transformers==4.44.2
fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
langchain-groq
langchain-community
faiss-cpu
numpy
groq
